.cart-item {
    width: 100%;
    display: flex;
    color: var(--my-font-colors);
}
img {
    width: 30%;
    height: 50px;
}
.item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    font-size: 12px;
}
.cart-item .title{
    color: var(--normal);
    font-weight: bold;
}
.cart-item .price{    
    color: var(--brown18);
    font-weight: 700;
}